.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
  font-family: "SometypeMono";
}

.picture_of_me {
  width: 200px;
}

.home_header span {
  margin-left: 50px;
  position: absolute;
}
