
@font-face {
    font-family: coiny;
    src: url(/fonts/Coiny/Coiny-Regular.ttf);
}

@font-face {
    font-family: calSans;
    src: url(/fonts/Cal_Sans/CalSans-Regular.ttf);
}

@font-face {
    font-family: rubik_mono;
    src: url(/fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: press_start;
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.travels_body {
    background: url("https://raw.githubusercontent.com/HydreigonGuy/my_website/refs/heads/images/images/travels/japan/yokohama/IMG20240220122833.jpg");
    background-size: cover;
}

@media (max-width: 1400px) {
    .travels_body {
        background: url("https://raw.githubusercontent.com/HydreigonGuy/my_website/refs/heads/images/images/travels/korea/daegu/IMG20230822174437.jpg");
        background-size: cover;
    }    
}

.cv_body {
    background-color: #d5edff;
}

.header_container {
    margin: 0;
    width: 100;
}

.travels_header {
    background-color: black;
    color: green;
    font-family: rubik_mono;
}

.cv_header {
    background-color: #13263d;
    color: #d5edff;
    font-family: calSans;
}

.header_subcontainer {
    padding: 20px;
}

.header_title {
    margin: 0;
    display: inline;
    font-size: 40px;
}

.header_urls {
    margin-left: 200px;
    font-size: 35px;
    background: none;
    border: none;
    border-radius: 30px;
    padding: 20px;
}

.travels_header_urls {
    color: green;
    font-family: rubik_mono;
}

.travels_header_urls:hover {
    background-color: green;
    color: black;
}

.cv_header_urls {
    color: #d5edff;
    font-family: calSans;
}

.cv_header_urls:hover {
    background-color: #b9dffc;
    color: #071524;
}

.language_selector {
    position: absolute;
    top: 22px;
    right: 30px;
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
}

.travels_language_selector {
    color: black;
    background-color: green;
    font-family: rubik_mono;
}

.cv_language_selector {
    color: #071524;
    background-color: #d5edff;
}

.content_container {
    font-family: calSans;
}

.travels_content_container {
    color: black;
    font-family: rubik_mono;
}

.cv_content_container {
    color: #13263d;
    font-family: calSans;
}

.content_title {
    margin: 40px;
    font-size: 30px;
}

.travel_url {
    display: inline-block;
    margin: 2%;
    width: 16%;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.travel_url img {
    width: 100%;
}

.travel_url p {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(9, 42, 25, 0.7);
    top: 0;
    color: #9aff9f;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cv_content {
    margin: 20px;
}

.cv_content h3 {
    font-size: 45px;
    display: inline;
    margin: 15px;
    vertical-align: top;
}

.cv_content h5 {
    font-size: 30px;
    display: inline;
    margin: 15px;
    vertical-align: top;
}

.cv_img {
    width: 300px;
}

.footer_container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.travels_footer_container {
    color: lime;
    background-color: rgb(12, 12, 12);
    font-family: press_start;
}

.cv_footer_container {
    color: #d5edff;
    background-color: #071524;
    font-family: coiny;
}

.footer_subcontainer {
    margin: 20px;
    text-align: center;
}

.footer_title {
    font-size: 24px;
}

.footer_link {
    text-decoration: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 20px;
}

.travels_footer_link {
    color: rgb(40, 255, 40);
}

.cv_footer_link {
    color: #d5edff;
}
