
@font-face {
    font-family: coiny;
    src: url(/fonts/Coiny/Coiny-Regular.ttf);
}

@font-face {
    font-family: calSans;
    src: url(/fonts/Cal_Sans/CalSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.travels_body {
    background-color: green;
}

.cv_body {
    background-color: #d5edff;
}

.header_container {
    margin: 0;
    width: 100;
    font-family: calSans;
}

.travels_header {
    background-color: black;
    color: green;
}

.cv_header {
    background-color: #13263d;
    color: #d5edff;
}

.header_subcontainer {
    padding: 20px;
}

.header_title {
    margin: 0;
    display: inline;
    font-size: 40px;
}

.header_urls {
    margin-left: 200px;
    font-size: 35px;
    background: none;
    border: none;
    border-radius: 30px;
    padding: 20px;
}

.travels_header_urls {
    color: green;
}

.travels_header_urls:hover {
    background-color: green;
    color: black;
}

.cv_header_urls {
    color: #d5edff;
}

.cv_header_urls:hover {
    background-color: #b9dffc;
    color: #071524;
}

.language_selector {
    position: absolute;
    top: 22px;
    right: 30px;
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
}

.travels_language_selector {
    color: black;
    background-color: green;
}

.cv_language_selector {
    color: #071524;
    background-color: #d5edff;
}

.content_container {
    font-family: calSans;
}

.travels_content_container {
    color: black;
}

.cv_content_container {
    color: #13263d;
}

.content_title {
    margin: 40px;
    font-size: 30px;
}

.travel_url {
    display: inline-block;
    margin: 2%;
    width: 16%;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.travel_url img {
    width: 100%;
}

.travel_url p {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(8.6, 27.8, 42.4, 0.6);
    top: 0;
    color: #d5edff;
    margin: 0;
}

.cv_content {
    margin: 20px;
}

.cv_content h3 {
    font-size: 45px;
    display: inline;
    margin: 15px;
    vertical-align: top;
}

.cv_content h5 {
    font-size: 30px;
    display: inline;
    margin: 15px;
    vertical-align: top;
}

.cv_img {
    width: 300px;
}

.footer_container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.travels_footer_container {
    color: lime;
    background-color: rgb(8, 8, 8);
}

.cv_footer_container {
    color: #d5edff;
    background-color: #071524;
}

.footer_subcontainer {
    margin: 20px;
    text-align: center;
    font-family: coiny;
}

.footer_title {
    font-size: 24px;
}

.footer_link {
    text-decoration: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 20px;
}

.travels_footer_link {
    color: lime;
}

.cv_footer_link {
    color: #d5edff;
}
