.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: min(50px, 10%);
  font-family: "SometypeMono";
}

.picture_of_me {
  width: 200px;
  max-width: 50%;
}

.home_header span {
  margin-left: min(50px, 10%);
  margin-right: min(50px, 10%);
  position: absolute;
}

.home_category_element a {
  color: white;
}

.home_category_element {
  position: relative !important;
}
