.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: min(50px, 10%);
  font-family: "SometypeMono";
}

.picture_of_me {
  width: 200px;
  max-width: 50%;
  border-radius: 20px;
}

.home_header span {
  margin-left: min(50px, 10%);
  margin-right: min(50px, 10%);
  position: absolute;
}

.home_category_element a {
  color: white;
}

.home_category_element {
  position: relative !important;
}

.background_img {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.over_img_content {
  margin: 100px;
  padding: 100px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 50px;
  color: white;
}

.top_message {
  margin: 50px;
  position: absolute;
}

.travels_content {
  margin: 75px;
  padding: 30px 5px 50px 50px;
  border-radius: 30px;
  background-color: rgba(50, 100, 40, .8);
}

.travels_content a {
  color: white;
  margin: 20px;
}
