
.beijing_header_image {
    width: 100%;
    margin-top: -30%;
    margin-bottom: -15%;
}

.beijing_header_image_container {
    width: 100%;
    overflow: hidden;
}

.china_body {
    padding: 2%;
}

.china_body a {
    text-decoration: none;
}

.china_city_url {
    color: black;
}

.beijing_body {
    padding: 2%;
    min-height: 120vh;
    background-color: darkred;
    color: white;
}

.beijing_body a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 8vmin;
    margin: 0;
    text-align: center;
    margin-bottom: 3%;
}

.place_url_link {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.place_url_link img {
    width: 100%;
}

.place_url_link h2 {
    text-align: center;
    font-size: 3Vmin;
}

.place_url_link h3 {
    text-align: center;
}

h3 {
    font-size: 3Vmin;
}

.balading_body {
    padding: 0;
    margin: 0;
    min-height: 120vh;
    color: white;
}
