
.row {
    padding: 53px;
    display: block;
}

.image-bg-row {
    background-size: cover;
    background-position: center;
}

.content {
    display: inline-block;
}

.picture {
    z-index: 2;
    position: relative;
    width: 120px;
    border-radius: 30px;
}

.picture-no-bg {
    margin: 10px;
    margin-right: 30px;
    display: inline-block;
    width: 160px;
    border-radius: 30px;
}

.language-selector {
    color: #888;
    padding: 5px;
}

.language-selector-container {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.company-url {
    color: black;
    text-decoration: none;
}

.company-content {
    width: 46%;
    padding: 2%;
    vertical-align: top;
}

.company-img {
    width: 30%;
    margin: auto;
    display: block;
}

.center-text {
    text-align: center;
    vertical-align: top;
}

.lift-text {
    vertical-align: top;
}

.skills-content {
    vertical-align: top;
    text-align: left;
    width: 20%;
}

.diploma-content {
    padding: 20px;
    vertical-align: top;
}

.diploma-content-description {
    font-size: 12px;
}

.two-thirds-width {
    margin: 1%;
    width: 64.66%;
    display: inline-block;
}

.third-width {
    margin: 1%;
    width: 31.33%;
    display: inline-block;
}

.contact-content {
    vertical-align: top;
    width: 30%;
}

.about-me-content {
    vertical-align: top;
    width: 33.33%;
}

.grey-row {
    background-color: #222;
    color: white;
}

.dark-green-row {
    background-color: rgb(5, 26, 3);
    color: #aaf2a4;
}

.green-row {
    color: rgb(5, 26, 3);
    background-color: #35872e;
}

.black-background-cover {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 40px;
    color: white;
    padding-bottom: 20px;
}

.black-background-cover a {
    color: white;
}

.projects-content {
    width: 25%;
    margin: 20px;
}

.top-pic-width {
    margin: 10px;
    margin-right: 30px;
    display: inline-block;
    padding: 20px;
    background-size: cover;
    border-radius: 30px;
}

.internship-durration-text {
    font-size: 12px;
}

.internship-job-description-text {
    font-size: 10px;
}

.project-description-sub-text {
    font-size: 10px;
}

@media (max-width: 1000px) {
    .contact-content {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .two-thirds-width {
        width: 100%;
    }

    .third-width {
        width: 100%;
    }

    .diplomas-hidden-row {
        background-color: rgb(5, 26, 3);
        color: #aaf2a4;
        display: block;
        border-radius: 0;
        margin-left: -53px;
        width: calc(100% + 106px);
        padding-top: 20px;
        margin-bottom: 0;
    }

    .row-2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 800px) {
    .job-description {
        display: none;
    }

    .skills-content {
        width: 30%;
        margin: 10px;
    }
}

@media (max-width: 700px) {
    .skills-hide-when-small {
        display: none;
    }

    .skill {
        font-size: 8px;
    }
}

@media (max-width: 900px) {
    .project-description-text {
        font-size: 10px;
    }

    .project-description-sub-text {
        display: none;
    }
}

@media (max-width: 550px) {
    .top-pic-width {
        display: block;
        margin: auto;
        width: 120px;
    }

    .picture-no-bg {
        display: block;
        margin: auto;
        width: 120px;
    }

    .contact-content {
        width: 100%;
        display: block;
    }

    .company-content {
        display: block;
        width: 100%;
    }
}
