
.row {
    padding: 4%;
    display: block;
}

.content {
    display: inline-block;
}

.picture {
    z-index: 2;
    position: relative;
    width: 120px;
    border-radius: 30px;
}

.language-selector {
    color: #888;
    padding: 5px;
}

.language-selector-container {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.company-url {
    color: black;
    text-decoration: none;
}

.company-content {
    width: 46%;
    padding: 2%;
    vertical-align: top;
}

.company-img {
    width: 30%;
    margin: auto;
    display: block;
}

.center-text {
    text-align: center;
    vertical-align: top;
}

.lift-text {
    vertical-align: top;
}

.skills-content {
    vertical-align: top;
    text-align: left;
    width: 20%;
}

.diploma-content {
    width: 46%;
    padding: 2%;
    vertical-align: top;
}

.two-thirds-width {
    margin: 1%;
    width: 64.66%;
    display: inline-block;
}

.third-width {
    margin: 1%;
    width: 31.33%;
    display: inline-block;
}

.contact-content {
    vertical-align: top;
    width: 30%;
}

.about-me-content {
    vertical-align: top;
    width: 33.33%;
}

.picture-background-img {
    width: 160px;
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 45px;
    object-fit: cover;
    height: 200px;
    border-radius: 30px;
}

.grey-row {
    background-color: #222;
    color: white;
}

.dark-green-row {
    background-color: rgb(5, 26, 3);
    color: #aaf2a4;
}

.green-row {
    color: rgb(5, 26, 3);
    background-color: #35872e;
}

.black-background-cover {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 40px;
    color: white;
    padding-bottom: 20px;
}

.black-background-cover a {
    color: white;
}

.row-2-bg-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    max-height: 900px;
}

.projects-background-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 900px;
    object-fit: cover;
}

.projects-content {
    width: 25%;
    margin: 20px;
}

.top-pic-width {
    margin: 1%;
    width: 20%;
    display: inline-block;
}

.internship-durration-text {
    font-size: 12px;
}

.internship-job-description-text {
    font-size: 10px;
}
