
.hiroshima_title {
    width: 100%;
    margin-top: -200px;
}

.hiroshima_title_text {
    position: absolute;
    padding: 10px;
    background-color: white;
    top: 40px;
    margin: 0;
    font-size: 50px;
    left: 90px;
}

.senso_ji_title {
  position: absolute;
  background-color: white;
  margin-top: -118px;
  font-size: 50px;
  padding: 30px 100px 30px 100px;
}

.japan_city_url {
    display: inline-block;
    width: 40%;
    margin: 5%;
    text-decoration: none;
    color: black;
    text-align: center;
}

.japan_city_url h3 {
    font-size: 30px;
}

.japan_city_url img {
    width: 100%;
}

.japan_title {
    font-size: 80px;
    text-align: center;
    margin: 0;
    width: fit-content;
    margin: auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1920px-Flag_of_Japan.svg.png');
    background-size: 400px;
    background-position: center;
    padding: 30px;
}

.japan_title_bg  {
    padding: 3%;
    background-image: url('https://raw.githubusercontent.com/HydreigonGuy/my_website/refs/heads/images/images/travels/japan/yokohama/IMG20240220122840.jpg');
    background-size: cover;
}
