
.korean_page {
    background-color: #ddd;
    min-height: 100vh;
    flex-direction: column;
    font-size: min(calc(10px + 2vmin), 32px);
    color: #541f06;
    padding: max(20px, calc(10px + 2vmin));
    font-family: "SometypeMono";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.korean_page span {
    margin-left: max(calc(10px + 2vmin), 20px);
    margin-right: max(calc(10px + 2vmin), 20px);
    position: absolute;
}

.korean {
  font-family: "NotoSerifKR";
}

.no_top_margin {
  margin-top: 0;
}

.picture {
    max-width: 30%;
}
