
body {
    margin: 0;
    padding: 0;
}

/* Background colors */

.dark_gray_bg {
    background-color: #101010;
}

.pink_bg {
    background-color: pink;
}

/* Images */

/* Full image */
.full_image {
    width: 100%;
}
.full_image_margin {
    width: 80%;
    margin: 10%;
}

/* Helf image */
.half_image {
    width: 50%;
}
.half_image_margin {
    width: 42%;
    margin: 4%;
}

/* Third image */
.third_image {
    width: 33.33%;
}
.third_image_margin {
    width: 27.33%;
    margin: 3%;
}

/* Fourth image */
.fourth_image {
    width: 25%;
}
.fourth_image_margin {
    width: 22%;
    margin: 1.5%;
}

/* Fith image */
.fith_image {
    width: 20%;
}
.fith_image_margin {
    width: 18%;
    margin: 1%;
}
